html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title Stickman ninja
    link(rel='stylesheet', type='text/css', href='css/matchmaking.css')
    link(rel='stylesheet', type='text/css', href='css/game.css')
  body
    #matchmaking
      #wrap
        form(onsubmit='match(); return false')
          label(for='input') Ranked:
          input#ranked(type='radio', name='mode', checked='', onclick='rankedSel()')
          br
          label(for='input')
            | Casual:
            input#casual(type='radio', name='mode', onclick='casualSel()')
          br
          label(for='input')
            | Friend:
            input#friend(type='radio', name='mode', onclick='friendsel()')
            br
            br
            #chooseElo
              select#Elo(name='elo')
                option(value='0') Any (fast queue time)
                option(value='1') Better elo than me
                option(value='-1') Worse elo than me
            br
            br
            input(type='submit', value='Search Match')
    canvas#main(width='1480', height='820')
    h1#ping
    //All sprites for idle animations!
    img#RED_idle_left.invis(src='sprites/RED/left/RED_idle_left.png')
    img#RED_idle_right.invis(src='sprites/RED/right/RED_idle_right.png')
    img#BLUE_idle_right.invis(src='sprites/BLUE/right/BLUE_idle_right.png')
    img#BLUE_idle_left.invis(src='sprites/BLUE/left/BLUE_idle_left.png')
    //All sprites for running animations!
    img#RED_running_left.invis(src='sprites/RED/left/RED_running_left.png')
    img#RED_running_right.invis(src='sprites/RED/right/RED_running_right.png')
    img#BLUE_running_right.invis(src='sprites/BLUE/right/BLUE_running_right.png')
    img#BLUE_running_left.invis(src='sprites/BLUE/left/BLUE_running_left.png')
    //All sprites for falling animations!
    img#RED_falling_left.invis(src='sprites/RED/left/RED_falling_left.png')
    img#RED_falling_right.invis(src='sprites/RED/right/RED_falling_right.png')
    img#BLUE_falling_right.invis(src='sprites/BLUE/right/BLUE_falling_right.png')
    img#BLUE_falling_left.invis(src='sprites/BLUE/left/BLUE_falling_left.png')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='js/data.js')
    script(src='js/game_drawing.js')
    script(src='js/game_physics.js')
    script(src='js/data.js')
    script(src='js/management.js')
    script(src='js/game.js')
