<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body id="body">
  <form method="POST" action="/users/login">
    <h1>login</h1>
    <lable>Username</lable><input name="username" type="text"/><br>
    <lable>password</lable><input name="password" type="password"/><br>
    <input type="submit">
  </form>
  <script>

onclick = function() {
var body = document.getElementById('body')
  body.requestPointerLock = body.requestPointerLock ||
                            body.mozRequestPointerLock;

document.exitPointerLock = document.exitPointerLock ||
                           document.mozExitPointerLock;
  body.requestPointerLock();
};
  </script>
</body>
</html>
