extends header

block content
  link(rel='stylesheet', type='text/css', href='/css/form.css')
  form(method='POST', action='/users/login')
    h1#title Login
    div#labels
      lable Username: <br>
      lable Password: <br>
    div#feild
      input(name='username', type='text')
      br
      input(name='password', type='password')
      br
    br
    input(type='submit' value="Login")#sumbit
