extends header

block content
  link(rel='stylesheet', type='text/css', href='/css/form.css')
  form(method='POST', action='/users/register')
    h1#title Register
    div#labels
      lable Username: <br>
      lable Email: <br>
      lable Password: <br>
      lable Password: <br>
    div#feild
      input(name='username', type='text')
      br
      input(name='email', type='text')
      br
      input(name='password', type='password')
      br
      input(name='password2', type='password')
      br
    br
    input(type='submit' value="Register")#sumbit
