extends header

block content
    form(method='POST', action='/users/register')
      h1 Register
      lable Username
      input(name='username', type='text')
      br
      lable Email
      input(name='email', type='text')
      br
      lable password
      input(name='password', type='password')
      br
      lable password
      input(name='password2', type='password')
      input(type='submit')
