/*Canvas css, centers it and gives background pretty much*/
canvas{
  display:block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
	background: url("https://s-media-cache-ak0.pinimg.com/originals/9f/68/14/9f681495b792deb8dadb3fea6fd819ed.jpg");
	background-size: cover;
}
.invis{
  display:none;
}
