/*Canvas css, centers it and gives background pretty much*/
body{
  overflow: hidden;
  background:black;
  zoom:0.85;
}
canvas{
  display:block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
	background: url("https://s-media-cache-ak0.pinimg.com/originals/9f/68/14/9f681495b792deb8dadb3fea6fd819ed.jpg");
	background-size: cover;
}
.invis{
  display:none;
}
h1{
  color:white;
  top:0;
  position: absolute;
}
