/*Canvas css, centers it and gives background pretty much*/
body{
  overflow: hidden;
  background:black;
}
canvas{
  display:block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
	background: url("https://s-media-cache-ak0.pinimg.com/originals/9f/68/14/9f681495b792deb8dadb3fea6fd819ed.jpg");
	background-size: cover;
  background-position-y: -300px;
}
.invis{
  display:none;
}
h1{
  color:white;
  top:0;
  position: absolute;
  background:black;
  padding:10px
}
#ODeath{
  position: absolute;
  color:blue;
  font-weight: bold;
  top:90%;
  right:0;
}
#YDeath{
  position: absolute;
  color:red;
  font-weight: bold;
  top:90%;
  left:0;
}
#fame0{
  position: absolute;
  color:blue;
  font-weight: bold;
  top:90%;
  left:10%;
}
#fame1{
  position: absolute;
  color:red;
  font-weight: bold;
  top:90%;
  right:10%;
}
#Health0{
  position: absolute;
  color:blue;
  font-weight: bold;
  top:90%;
  left:20%;
}
#Health1{
  position: absolute;
  color:red;
  font-weight: bold;
  top:90%;
  right:20%;
}
