/*Gets rid of body border*/
body{
  margin:0;
  padding:0;
}
/*fills the page with blue div*/
  #matchmaking{
    position: absolute;
    width:100%;
    Height:100%;
    background: blue;
    display: none;
  }
  /*Wrap around form to keep proprtions once diffrent options appear/disappear*/
  #wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    /*centers it on page*/
    transform: translate(-50%, -50%);
    text-align: center;
    background: skyblue;
    padding:80px;
    border-radius: 20px;
    line-height: 40px;
    font-size: 40px;
    border: 4px black solid;
    height: 400px;
    width: 400px;
  }
  /*Pretty much only effects submit button*/
  input{
    font-size: 30px;
    background: white;
    border-radius: 20px;
    padding:10px;
    outline: none;
    text-align: center;
  }
  /*Makes the select a little more bold and good looking*/
  select{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding:5px;
  }
  /*Below are the loading picture that javascript applys once you are waiting*/
  #loading{
position:absolute;
width:150px;
top:50px;
left:50%;
margin: 0 0 0 -75px;
transform: rotate(0deg);
animation: runt .7s infinite;
}
/*Animation to make loading image spin*/
@keyframes runt {
  to{
      transform: rotate(360deg);
  }
}

.friend_selector{
  font-size: 25px;
}
