/*Gets rid of body border*/
body{
  margin:0;
  padding:0;
}
/*fills the page with blue div*/
  #matchmaking{
    position: absolute;
    width:100%;
    Height:100%;
    background: white;
  }
  /*Wrap around form to keep proprtions once diffrent options appear/disappear*/
  #wrap{
    color:#80f077;
    font-family: ninja;
    margin: 50px auto;
    text-align: center;
    background: #f2f2f2;
    padding:80px;
    line-height: 40px;
    font-size: 40px;
    background: #333333;
    background: -webkit-linear-gradient(#4d4d4d 0%, #191919 100%);
    background: -o-linear-gradient(#4d4d4d 0%, #191919 100%);
    background: linear-gradient(#4d4d4d 0%, #191919 100%);
    border: 20px solid silver;
    border-style: outset;
    border-radius: 12px;
    height: 400px;
    width: 400px;
  }
  /*Pretty much only effects submit button*/
  input{
    font-size: 30px;
    background: white;
    border-radius: 20px;
    padding:10px;
    outline: none;
    text-align: center;
  }
  /*Makes the select a little more bold and good looking*/
  select{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding:5px;
  }
  /*Below are the loading picture that javascript applys once you are waiting*/
  #loading{
position:absolute;
width:150px;
top:50px;
left:50%;
margin: 0 0 0 -75px;
transform: rotate(0deg);
animation: runt .7s infinite;
}
/*Animation to make loading image spin*/
@keyframes runt {
  to{
      transform: rotate(360deg);
  }
}

.friend_selector{
  font-size: 25px;
}
